Django==1.6.5
argparse==1.2.1
wsgiref==0.1.2
pytz==2014.4
six==1.7.2
South==0.8.4
pycparser==2.10
cffi==0.8.6
bcrypt==1.0.2
py==1.4.20
pytest==2.5.2
pytest-django==2.6.2
coverage==3.7.1
simhash==1.4.0
django-haystack==2.1.0
requests==2.3.0
requests-oauthlib==0.4.1
oauthlib==0.6.3
python-openid==2.2.5
python-ptrace==0.7
python-social-auth==0.1.26
Markdown==2.4.1
docutils==0.11
postmarkup==1.2.1
nltk==3.0.0
